<div class="flex">
  <h2 class="header">Settings</h2>
  <div class="flex">
    <button
      class="dialog-button"
      title="Delete all settings"
      (click)="clickResetSettings()"
    >
      <i class="material-icons">delete</i>
    </button>
    <button class="dialog-button" (click)="closeSettings.emit()">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
<div class="panel">
  <div class="hole">
    <div>
      <div class="header">Saved states</div>
      <div class="flex states">
        <ng-container *ngIf="!editState; else stateInput">
          <lab-options
            title="Select saved state"
            [selected]="state"
            [options]="savedStates"
            (selectId)="setState($event)"
          ></lab-options>
          <button
            *ngIf="state"
            title="Delete saved state"
            (click)="clickRemoveState()"
          >
            <i class="material-icons">delete</i>
          </button>
          <button
            *ngIf="hash"
            title="Name and save state"
            (click)="toggleEditState()"
          >
            <i class="material-icons">edit</i>
          </button>
        </ng-container>
        <ng-template #stateInput>
          <input
            type="text"
            placeholder="Enter a name..."
            [(ngModel)]="tempState"
          />
          <button
            *ngIf="tempState && hash"
            title="Save state"
            (click)="clickSaveState()"
          >
            <i class="material-icons">save</i>
          </button>
          <button title="Cancel" (click)="toggleEditState()">
            <i class="material-icons">close</i>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="flex tween">
        <div class="header">Recipes</div>
      </div>
      <table class="thin">
        <tr>
          <td>Base set</td>
          <td>
            <lab-options
              title="Select base recipe set"
              [selected]="settings.baseId"
              [options]="base"
              (selectId)="setBase.emit($event)"
            ></lab-options>
          </td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>
            <lab-toggle
              [data]="data"
              [selected]="settings.disabledRecipes"
              (selectIds)="
                setDisabledRecipes.emit({
                  value: $event,
                  default: data.defaults.disabledRecipes
                })
              "
            >
            </lab-toggle>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Factory</div>
      <table class="factories">
        <ng-container
          *ngFor="let f of factoryRows; let i = index; let last = last"
        >
          <tr *ngIf="factories.entities[f] as factory">
            <td>
              <ng-container *ngIf="!f">
                <lab-select
                  *ngIf="factoryOptions.length"
                  header="Select a factory"
                  [data]="data"
                  [options]="factoryOptions"
                  [data]="data"
                  (selectId)="
                    addFactory.emit({
                      value: $event,
                      default: data.defaults.factoryRank
                    })
                  "
                >
                  <button title="Add factory preference">
                    <i class="material-icons">add</i>
                  </button>
                </lab-select>
              </ng-container>
              <button
                *ngIf="f"
                title="Remove factory preference"
                (click)="
                  removeFactory.emit({
                    value: f,
                    default: data.defaults.factoryRank
                  })
                "
              >
                <i class="material-icons">remove</i>
              </button>
            </td>
            <td>
              <lab-icon
                *ngIf="f && !factoryOptions.length"
                class="pad"
                [iconId]="f"
                [tooltip]="data.itemEntities[f].name"
                [item]="data.itemEntities[f]"
                [data]="data"
              >
              </lab-icon>
              <lab-select
                *ngIf="f && factoryOptions.length"
                header="Select a factory"
                [data]="data"
                [selected]="f"
                [options]="factoryOptions"
                [data]="data"
                (selectId)="
                  setFactory.emit({
                    id: f,
                    value: $event,
                    default: data.defaults.factoryRank
                  })
                "
              >
                <lab-icon
                  class="button"
                  [data]="data"
                  [iconId]="f"
                  [tooltip]="data.itemEntities[f].name"
                  [item]="data.itemEntities[f]"
                >
                </lab-icon>
              </lab-select>
              <lab-icon
                *ngIf="!f"
                class="pad"
                tooltip="Factory defaults"
                iconId="production"
                [data]="data"
              ></lab-icon>
            </td>
            <td>
              <button
                *ngIf="i > 1"
                title="Raise factory rank"
                (click)="
                  raiseFactory.emit({
                    value: f,
                    default: data.defaults.factoryRank
                  })
                "
              >
                <i class="material-icons">arrow_drop_up</i>
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
      <table class="center">
        <tr>
          <td><div>Belt</div></td>
          <td><div>Fuel</div></td>
        </tr>
        <tr>
          <td>
            <lab-select
              header="Select a belt"
              [data]="data"
              [selected]="settings.belt"
              [options]="data.beltIds"
              [displayRate]="settings.displayRate"
              [data]="data"
              (selectId)="
                setBelt.emit({ value: $event, default: data.defaults.belt })
              "
            >
              <lab-icon
                class="button"
                tooltip="Select default belt"
                [data]="data"
                [iconId]="settings.belt"
              ></lab-icon>
            </lab-select>
          </td>
          <td>
            <lab-select
              header="Select a fuel"
              [data]="data"
              [options]="sortedFuels"
              [selected]="settings.fuel"
              (selectId)="
                setFuel.emit({ value: $event, default: data.defaults.fuel })
              "
            >
              <lab-icon
                class="button"
                tooltip="Select fuel"
                [iconId]="settings.fuel"
                [data]="data"
              ></lab-icon>
            </lab-select>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Bonuses</div>
      <table class="wide">
        <tr>
          <td>Mining speed</td>
          <td class="right">
            +
            <input
              type="number"
              title="Enter mining speed bonus"
              placeholder="Mining speed"
              min="0"
              step="10"
              data-test="lab-settings-mining-bonus"
              [value]="settings.miningBonus"
              (input)="emitNumber(setMiningBonus, $event)"
            />
            %
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hole">
    <div>
      <div class="header">Display</div>
      <table class="wide">
        <tr>
          <td>Display rates as</td>
          <td>
            <lab-options
              title="Select display rate"
              [selected]="settings.displayRate"
              [options]="DisplayRateOptions"
              (selectId)="setDisplayRate.emit($event)"
            ></lab-options>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
